body{
    background-color: lightgray;
}

.fixed-top{
    height: 60px !important;
}

h1{
    text-align: center;
    color: tan;
    background-color: navy;
    /* height: 1.3em; */
    width: 100%;
}

address{
    text-align: center;
}

.logoImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    height: auto;
}

.table{
    /* padding: 2px; */
    background-color: tan;
    color: navy;
    width: 80%;
    margin-top: 70px !important;
    margin: 0 auto;
    border-collapse:collapse;
    box-sizing: border-box;
    border-spacing: 0;
} 

.thead-dark th{
    color: tan !important;
    background-color: navy !important;
}

.center{
    text-align: center;
}

.table td, th{
    vertical-align: middle;
    border: 1px solid navy;
}

.table td{
    color: navy !important;
}

.fa-link{
    font-size: 25px;
    color: navy;
}